node_modules/
#Common useless files
*.zip
*.jar
*.exe

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
*/web/obj/
*/web/bin/

Debug/ 
Release/ 
obj/
/.vs/

source/UI/Innocellence\.Web/App_Data/Logs/
ModelDesign/.vs/ModelDesign/
model-app/dist/
model-app/.idea/
