<?xml version="1.0" encoding="utf-8"?>
<daoConfig
  xmlns="http://ibatis.apache.org/dataAccess"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <providers resource="config/providers.config"/>
  <context id="SqlMapDao" default="true">
    <database>
      <provider name="MySql"/>
      <dataSource name="ModelDesign" connectionString="server=localhost;user id=modellink;Password=123456;Database=ModelDesign;Port=3306;CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;Connect Timeout=60;" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="config/SqlMap.config"/>
    </daoSessionHandler>

    <daoFactory assembly="ModelDesign.Service.dll">
      <!--生成脚本-->
      <dao interface="ModelDesign.Service.IBuildingScriptDao, ModelDesign.Service" implementation="ModelDesign.Service.BuildingScriptDao, ModelDesign.Service"/>
      <!--项目-->
      <dao interface="ModelDesign.Service.IProjectDao, ModelDesign.Service" implementation="ModelDesign.Service.ProjectDao, ModelDesign.Service"/>
      <!--最爱脚本-->
      <dao interface="ModelDesign.Service.IFavoriteScriptDao, ModelDesign.Service" implementation="ModelDesign.Service.FavoriteScriptDao, ModelDesign.Service"/>
    </daoFactory>


  </context>
</daoConfig>

