<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  <providers resource="config/providers.config"/>

  <database>
    <provider name="MySql"/>
    <dataSource name="ModelDesign" connectionString="server=localhost;user id=modellink;Password=123456;Database=ModelDesign;Port=3306;CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;Connect Timeout=60;" />
  </database>
  <sqlMaps>

    <!--生成脚本-->
    <sqlMap embedded="ModelDesign.Service.Maps.BuildingScript.xml, ModelDesign.Service" />
    <!--项目-->
    <sqlMap embedded="ModelDesign.Service.Maps.Project.xml, ModelDesign.Service" />
    <!--最爱脚本-->
    <sqlMap embedded="ModelDesign.Service.Maps.FavoriteScript.xml, ModelDesign.Service" />
  </sqlMaps>
</sqlMapConfig>