<div class="home-page">
  <div class="home-page-header">
    <h1 class="display-1 font">Model-Driven Development</h1>
    <h3 class="display-4 font">模型驱动开发</h3>
    <button mat-button class="button" routerLink="/design">快速构建</button>
  </div>
  <div class="home-page-body container">
    <div class="home-page-body-row">
      <div>领域对象</div>
    </div>
    <div class="home-page-body-row">
      <div>服务接口</div>
    </div>
    <div class="home-page-body-row">
      <div>模板设计</div>
    </div>
    <div class="home-page-body-row">
      <div>代码生成</div>
    </div>
  </div>
  <div class="home-page-footer">

  </div>
</div>


